
.btn{
    align-content: center;
    float: right;
}
button{
    background-color: rgb(93, 177, 216);
    margin-right: 2cm;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding-left: 0.7cm;
    padding-right: 0.7cm;
}
h3{
    padding-top: 2.5cm;
    padding-bottom: 2cm;
}

