<div class="grid-wrapper">

  <mat-grid-list class = "grid" cols="4" rowHeight="250px" gutterSize="30">
      <mat-grid-tile 
          *ngFor="let rest of lessons" >
          
        <h2>{{rest.name}}
          <h3>{{rest.description}}</h3>
          <button mat-raised-button (click)="Click(rest.id, rest.nb)">Start lesson </button> 
          <button mat-raised-button [hidden]="isNotAdmin" (click)="Click1(rest.id, rest.nb)">Delete lesson </button> 
        </h2>
       
      </mat-grid-tile>
    </mat-grid-list>
  </div>