.full-width{
    width: 100%;
    padding-top: 1cm;
}
mat-card-header{
    color: rgb(20, 100, 220);
}
.box{
    padding-top: 1.5cm;
    padding-bottom: 1cm;
}
mat-card-header{
    padding: 0.5cm;
}


mat-error{
    text-align: center;
  }
  
  .error{
    text-align: center;
  }

  .btn-block{
      float: right;
  }

  mat-card-actions{
      padding-right: 4cm;
  }

  .box{
      box-shadow: none;
  }