<mat-toolbar class="toolbar" color="warn">
<mat-toolbar-row>
    <div class="col‑xs‑12">
        <div id = "navigation" *ngIf = "isLoggedIn == false">
            <ul class="nav nav‑pills">

            <li routerLinkActive="active"> <a mat-raised-button color="warn" [routerLink]="['/login']" >Login</a></li>
            <li routerLinkActive="active"> <a mat-raised-button color="warn"[routerLink]="['/register']" >Register</a></li>
            </ul>
        </div>
        <div id = "navigation" *ngIf = "isLoggedIn == true">
            <ul class="nav nav‑pills">
                <li routerLinkActive="active"> <a mat-raised-button color="warn" [routerLink]="['/home']" >Home</a></li>
                <li routerLinkActive="active"> <a mat-raised-button color="warn" [routerLink]="['/lessons']" >Lessons</a></li>
                <li routerLinkActive="active"> <a mat-raised-button color="warn" [routerLink]="['/chat']" >Chat</a></li>
                <li routerLinkActive="active"> <a mat-raised-button color="warn" [routerLink]="['/quiz']" >Quiz</a></li>
            </ul>
        </div>
    </div>
</mat-toolbar-row>
</mat-toolbar>
    