div ul{
    list-style: none;
}
div li{
    display: inline-block;
    margin-left: 40px;
    
}
div button{
    float: right;
    margin-right: 40px;
}

.col‑xs‑12{
    width: 100%;
}
.toolbar{
    width: 100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li{
    list-style: none;
}
