html,
body {
    height: 100%;
  }
  
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #e2e2e2;
}

.grid {

    top:60px;
    opacity: 1;
    float: left;
    width: 100%;
    height: 20cm;
    background: #f2453d; 
    text-align: center;  
}

h2{
    color: rgb(99, 76, 81);
    text-align:center;
    padding-right: 1cm;
    padding-left: 1cm;
    font-style: normal;
}
h3{
    color: rgb(76, 106, 107);
    text-align: center;
}
