html,
body {
    height: 100%;
  }
  
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #e2e2e2;
}

.grid-wrapper {
    height: 100%;
}

.grid {
    position: fixed;
    top:60px;
    opacity: 1;
    float: left;
    width: 100%;
    background: rgb(228, 174, 174);
    overflow-x: hidden;
}


