<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header >
        <mat-card-title>Log in</mat-card-title>
        <mat-card-subtitle>and continue on your journey to enlightment!</mat-card-subtitle>
      </mat-card-header>
  
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput required ngModel type="text" #username="ngModel" name="username" id="loginUsername" class="form-control" placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput required ngModel type="password" #username="ngModel" name="password" id="loginPassword" class="form-control" placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button type="submit" [disabled]="f.invalid" class="btn-block">Log in</button>
        <mat-error class="error" *ngIf="serverErrorMessages">
          {{ serverErrorMessages }}
        </mat-error>
      </form>
      <li routerLinkActive="active"> <a [routerLink]="['/register']" >Don't have an account yet? Click here to sign up!</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['/']" >Forgotten your password?</a></li>

    </mat-card>
  
  </div>